.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user) do
            = image_tag(@prototype.user.avatar.thumb, alt: "profile_photo", class: "media-object", style: "width: 64px; height: 64px;")
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            by
            = link_to "#{@prototype.user.name}", user_path(@prototype.user)
            .degree
              = @prototype.user.position
  .row
    .col-md-9.image-box
      = image_tag(@prototype.set_main_thumbnail.large, class: 'img-responsive img-size-fix', style: "margin: 0 auto;")
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.captured_images.sub.each do |image|
          %li.list-group-item
            = image_tag(image.content, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  #comment_list
    - if @comments
      - @comments.each do |text|
        .media
          .media-left
            %a(href="#{user_path(text.user.id)}" title="thumbnail")
              = image_tag "#{text.user.avatar}", size: '64x64', class: "media-object"
          .media-body
            %h4
              = text.user.name
            %p
              = text.content
            .list-ui{style: "list-style:none"}
              = link_to prototype_comment_path(prototype_id: params[:id], id: text.id), method: :delete do
                %i.fa.fa-trash.color
            .list-ui{style: "list-style:none"}
              = link_to edit_prototype_comment_path(prototype_id: params[:id], id: text.id) do
                %i.fa.fa-edit.color
    .form#new_comment.form_inline
      - if user_signed_in?
        %h4
          Write a comment
        .row
          = form_for [@prototype, @comment] do |f|
            .form-group.col-md-10
              = f.text_area :content, placeholder: 'Your comments', id: "comment_text", class: "textform-control"
            .form-group.col-md-2
              = f.submit "COMMENT", class: "btn btn-primary"

